<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

    <!-- Inside of struct data we have words and we are ranging over words to get single element using predefined function index -->
 {{ index .Words 0}}
 {{index .Words 1}}
 {{index .Words 2}}
 {{.Lname}}   
</body>
</html>