<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    Double of the value {{fdbl .}}

    Square of the value {{ fsq .}}

    Square root of the value {{. | fdbl |fsq |fsqrt}}
</body>
</html>